= image_tag asset_pack_path('images/background.jpg'), id: 'background'
#banner
  #banner-text-container
    #banner-text
      %h1 Memory Jar
      %hr
      %h2 Photography and web development

  %a#scroll-down.scroll{ href: '#content' }
    %svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-chevron-down" viewBox="0 0 16 16")
      %path(fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708")

#content
  .container
    #about-me.section
      %h3 About Me

      %p Hi and welcome to my personal website!
      %p My name is Shuo, a #{link_to 'University of Sheffield', url_for('http://www.sheffield.ac.uk'), target: '_blank', title: 'Go to University of Sheffield Website'} software engineering graduate.
      %p I specialise in Ruby on Rails, JavaScript (React / Redux, jQuery), CSS and PostgresSQL. Some of my projects can be found on my #{link_to 'Github page', url_for('https://github.com/neb2000', target: '_blank')}.
      %p When I&apos;m free, I enjoy painting, travel around the country and take photos. You may have a look at my work in the profolio section or on my #{link_to 'Flickr page', url_for('https://www.flickr.com/photos/neb2000/'), target: '_blank'}.
      %p If you find yourself in need of any of my skills, please contact me via #{mail_to 'nebaries@gmail.com', 'e-mail'}.

    #portfolio-photos.section
      %h3 Portfolio - Photos
      .row.g-2.g-md-3
        - (1..6).each do |index|
          .col-md-4= image_tag asset_pack_path("images/portfolio/#{index}.jpg"), class: 'img-fluid'


    #portfolio-drawings.section
      %h3 Portfolio - Drawings
      .row.g-2.g-md-3
        - (1..6).each do |index|
          .col-md-2= image_tag asset_pack_path("images/drawings/#{index}.jpg"), class: 'img-fluid'
