
#banner
  #banner-text
    %h1 Memory Jar
  
    %h2 Photography and web development
    
  %a#scroll-down.scroll{ href: '#content' }

#content
  .container
    #about-me.section
      %h3 About Me
      .row
        .col-md-12
          %p Hi and welcome to my personal website!
          %p My name is Shuo Chen, a #{link_to 'University of Sheffield', url_for('http://www.sheffield.ac.uk'), target: '_blank', title: 'Go to University of Sheffield Website'} graduate with a Master degree in Software Engineering.
          %p I&apos;m currently working for #{link_to 'epiGenesys', url_for('http://www.epigenesys.co.uk'), title: 'epiGenesys - a University of Sheffield company', target: '_blank'} - a University of Sheffield company. I specialise in Ruby on Rails, jQuery, CSS and PostgresSQL.
          %p When I&apos;m free, I enjoy painting, travel around the country and take photos. You may have a look at my work on in the profolio section or my #{link_to 'Flickr page', url_for('https://www.flickr.com/photos/neb2000/'), target: '_blank'}.
          %p If you find yourself in need of any of my skills, please contact me via #{mail_to 'nebaries@gmail.com', 'e-mail'}, or any of the social media listed at the bottom of the page.
          
    #portfolio-photos.section
      %h3 Portfolio - Photos
      .row
        - (1..9).each do |index|
          .col-md-4
            .img-container= image_tag "portfolio/#{index}.jpg", class: 'img-responsive'


    #portfolio-paintings.section
      %h3 Portfolio - Paintings
      .row
        - (1..6).each do |index|
          .col-md-4
            .img-container= image_tag "paintings/#{index}.jpg", class: 'img-responsive'

%footer
  .container
    %ul.list-unstyled.media-links
      - with_options target: '_blank' do |links|
        %li
          = links.link_to url_for('https://www.facebook.com/neb2000'), title: 'Facebook' do
            %i.fa.fa-facebook-square
        %li
          = links.link_to url_for('https://twitter.com/neb2000'), title: 'Twitter' do
            %i.fa.fa-twitter-square
        %li
          = links.link_to url_for('https://www.flickr.com/photos/neb2000/'), title: 'Flickr' do
            %i.fa.fa-flickr
        %li
          = links.link_to url_for('https://github.com/neb2000'), title: 'Github' do
            %i.fa.fa-github-square
        %li
          = links.link_to url_for('https://www.linkedin.com/pub/shuo-chen/20/807/571'), title: 'LinkedIn' do
            %i.fa.fa-linkedin-square
        %li
          = links.link_to url_for('https://plus.google.com/117798368047127975385?rel=author'), title: 'Google +' do
            %i.fa.fa-google-plus-square
